.row {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #757575;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #757575;
}

p.explanation {
  font-size: 120%;
  font-weight: normal;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: inherit;
}

.popup {
  min-height: 50px;
}
