body, html{
    overflow-x: hidden;
}

.redlineExplanation {
  color: red;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: inherit;
}

quote {
  font-weight: bold;
}

.range {
  margin-left:7%;
  width:82%;
  margin-bottom: 1em;
}

.panelFormula {
  max-width: 30em;
}

.header {
  text-align: center;
}

.footer {
  padding: 2em 0em 2em 0em;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: darkgrey;
  background-color: lightgrey;
}

.footer p {
  text-align: center;
}
