body, html{
    overflow-x: hidden;
}

.redlineExplanation {
  color: red;
}

#rangeTab {
  margin-top: 1em;
}

.range {
  margin-left:7%;
  width:82%;
  margin-bottom: 1em;
}

.pleasewait {
  color: grey;
  min-height: 5em;
  margin-bottom: 3em;
}

.acknowledge-coindesk {
  color: grey;
}

.explore-prediction {
  min-height: 13.5em;
}
