body, html{
    overflow-x: hidden;
}

.redlineExplanation {
  color: red;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: inherit;
}

quote {
  font-weight: bold;
}

#rangeTab {
  margin-top: 3em;
}

.range {
  margin-left:7%;
  width:82%;
  margin-bottom: 1em;
}

.panelFormula {
  max-width: 30em;
}

.header {
  text-align: center;
}
