.heading {
  font-size: 150%;
  text-align: center;
}

.actual {
  color: #2196F3;
}

.predicted {
  color: red;
}

.above {
  color: green;
}

.below {
  color: red;
}

.subtext {
  text-align: center;
}

.actualupdatesin {
  margin-top: 0.5em;
  height: 2px;
}
