.heading {
  font-size: 150%;
  text-align: center;
}

.actual {
  color: #2196F3;
}

.predicted {
  color: red;
}

.ahead {
  color: green;
}

.behind {
  color: red;
}


.subtext {
  text-align: center;
}
