.linechart {
  margin-top: 1em;
  margin-bottom: 1em;
}

.linechart_path {
  stroke-width: 3;
  fill: none;
}

.linechart_path_p {
  stroke: #2196F3;
}

.linechart_path_m {
  stroke: #FF0000;
}

.linechart_axis {
  stroke: #bdc3c7;
}

.linechart_point {
  fill: none;
  stroke-width: 3;
  stroke: darkgrey;
}

.linechart_area_p {
  fill: #64B5F6;
  stroke: none;
  opacity: .4;
}

.linechart_area_m {
  fill: red;
  stroke:none;
  opacity: .2;
}

rect.linechart_label_p {
 fill: #FFF;
}

rect.linechart_label_m {
 fill: #FFF;
}

rect.linechart_label_x {
 fill: #FFF;
}

text.linechart_label_p {
 fill: #64B5F6;
 font-weight: 700;
}

text.linechart_label_m {
  font-weight: 700;
  fill: red;
}

.hoverLine {
  stroke: #7D95B6;
  stroke-width: 1;
}
