.progress_container {
  margin-top: 0.5em;
  background-color: #DCDCDC;
}

.progress_bar {
  height: 0.12em;
}

.progress_prediction {
  background-color: red;
}

.progress_actual {
  background-color: #2196F3;
}
