.hover {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
}

.hover-ahead {
  background-color: green;
}

.hover-behind {
  background-color: red;
}
